@model IEnumerable<Ghayal_Bhaag.Models.Bookmark>

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book.BookTitle)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            <td>
                @Html.DisplayFor(modelItem => item.Book.BookTitle)
            </td>
            
            <td>
                <a asp-action="GetBookMarkDetails" asp-route-id="@item.BookmarkId " class="btn btn-sm btn-outline-secondary">Details</a> |
                <a asp-action="DeleteBookMark" asp-route-id="@item.BookmarkId" class="btn btn-sm btn-outline-danger">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
