@model IEnumerable<Ghayal_Bhaag.Models.Review>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="CreateReview">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.Book.BookTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                <a asp-action="EditReview" asp-route-id="@item.ReviewId" class="btn btn-sm btn-outline-primary">Edit</a> |
                <a asp-action="GetReviewDetail" asp-route-id="@item.ReviewId" class="btn btn-sm btn-outline-secondary">Details</a> |
                <a asp-action="DeleteReview" asp-route-id="@item.ReviewId" class="btn btn-sm btn-outline-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
