@model IEnumerable<BookMart.Models.CartItem>

@{
    ViewData["Title"] = "Index";
}




    @* <form asp-action="AddOrdertoCart" asp-controller="Orders"> *@
    @*     <input type="submit" value="Cart To Order" /> *@
    @* </form> *@
    

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book.BookTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Book.BookTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                <a asp-action="EditCartItem" asp-route-id="@item.CartItemId" class="btn btn-sm btn-outline-primary">Edit</a> |
                <a asp-action="GetCartDetails" asp-route-id="@item.CartItemId" class="btn btn-sm btn-outline-secondary">Details</a> |
                <a asp-action="DeleteCartItem" asp-route-id="@item.CartItemId" class="btn btn-sm btn-outline-danger">Delete</a>
            </td>
         
            <td>
                <form asp-controller="Orders" asp-action="CheckoutSingleCartItem" method="post">
                    <input type="hidden" name="id" value="@item.CartItemId" />
                    <button type="submit" class="btn btn-primary">Checkout</button>
                </form>
            </td>
           
        </tr>
}
    </tbody>
</table>
